.floatleft {
    float: left;
}

.clearleft {
    clear: left;
}

.listItem {
    color: green;
    font-weight: bold;
}
body {
    background-color: black;
}

.contactform {
    margin-top: 13%;
}

#myinformation {
    font-size: 20px;
    text-align: center;
    background-color: none;
    margin-top: 8%;
    color: green;
}





.divider {
    background-color: transparent;
    /*background-attachment: fixed;*/
    height: 100px;
}

#contentHouser {
    position: absolute;
    /*background-color: white;*/
    /*border: 10px solid white;*/
    /*height: 100%;*/

}
.banner {
    /*background-image: url('/img/bannerSkyOverlay.png');*/
    background-repeat: no-repeat;
    height: 730px;
    clear: left;
    /*background-size: 100%*/
}
#nav {
    position: absolute;
    bottom: 0;
    right: 10px;

}

.logo {
    margin-top: 6%;
}

.blog {
    /*position: absolute;*/
    margin-top: 10%;
    height: 1000px;
    background-image: url('/img/moon1.jpeg');
    background-size: 100%;
    /*margin-bottom: 2%;*/
}
/*#homepageLogo:hover {
	content: url("/img/rk500x500plusarrowswhite.png");

}
*/
.bannerText {
    color: white;
    font-size: 70px;
    position: absolute;
    padding-top: 10%;

    /*margin-left: %;*/
}
#resumeHeading {
    /*background-color: black;*/
    /*height: 50%;*/
    margin-top: 2%;
    /*border: 8px solid green;*/
    /*border-bottom: 0;*/
    /*box-shadow: 10px 10px 5px #888888;*/
    color: green;


}

#resumeHeading h1 {
    font-size: 50px;
    /*text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;*/

}

#portrait {
    margin-top: 2%;
    margin-bottom: 2%;
}

#resumeContent {
    background-color: black;
    margin-bottom: 2%;
    margin-top: 2%;
    /*border: 8px solid black;*/
    /*border-top: 0;*/
    /*height: 90%;*/
    /*box-shadow: 10px 10px 5px #888888;*/
    color: green;
    padding-top: 1%;


}

.project-card{
    background-color:  black;
    color:  green;
    border: 2px solid green;
    height: 120px;
    margin-top: 15px;
}

.projectlocation:hover, .projectlocation:visited, .projectlocation:link, .projectlocation:active
{
    text-decoration: none;
}
#name {
    font-weight: bold;
    padding-top: 20%;
}
#McPadding, #navbarHolder {
    margin-top: 45px;
}

.nav_container {
    height: 45px;
    /*background-color: orange;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*float: top;*/
    /*padding-bottom: 100px;*/
}
#homePageMainHouse {
    background-color: transparent;
}
.nav-pills li a:hover {
    color: black;
    background-color: green;
}
.nav-pills li a:active {
    color: black;
    background-color: green;
}

.active1 {
    background-color: green;
    color: black;
    border-radius: 4px;
}



/*
====================
portfolio/projects css
=================
*/

.hero-spacer {
    margin-top: 15%;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.thumbnail {
    background-color: black;
    border: none;
}
.caption h3{
    color: green;

}
.caption p{
    color: green;
}

.btn:hover {
    background-color: white;
    color: green;
    border: none;
}

.btn {
    background-color: green;
    border: none;
}

/*
=======================
employment banner
=======================
*/

.banner1{
    background-color: black;
    color: green;
}
.bannerFont {
    font-size: 50px;
    align-items: center;
    color: green;
}
#employmentBreakdown {
    height: 100%;
    width: 100%;
    align-content: left;
    margin-left: 10%;
    font-size: 18px;
}
.icons {
    color: black;
}
#contactBanner {
    font-size: 25px;
    margin-top: 2%;
}

.link{
    color: green;
}
#hr1 {
    margin-top: 0%;
}
.hr, #hr1 {
    background-color: green; height: 5px; border: 0;
}



/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
/*
================================================
spin functionality for employment icons
===============================================
*/
.spin:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    color: white;
}
.spin {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/*
=====================
footer social icons
=====================
*/
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: green;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/*
===========================
login and register form
===========================
*/


#body-register {
    padding-top: 90px;
}
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 35px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}


/*
========================
Custom login form Css
=======================
*/

#blackpanel1, #blackpanel2 {
    background-color: black;
    border: none;
}
#login-submit, #register-submit{
    background-color: black;
    color: green;
}

#login-submit:hover, #register-submit:hover {
    background-color: green;
    color:black;
}


#remember {
    color: green;
}


.greenInput {
    background-color: green;
    color: black;

}
.greenInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    opacity: .9;
}
.greenInput::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: .9;
}
.greenInput:-ms-input-placeholder { /* IE 10+ */
    color: black;
    opacity: .9;
}
.greenInput:-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: .9;
}


#box{
    /*background-color: black;*/
    border-radius: 4px;
}

#contact-btn {
    background-color: green;
    color: black;
}

#contact-btn:hover {
    background-color: black;
    color: green;

}